@model Bicimad.Web.Models.Home.BikeStatsModel
@{
    ViewBag.Title = "Devolver Bicicleta";
}

<br />

<div class="j-alert" id="notify">

    <div class="col-md-3 center-block" style="margin-top: 5em">
        <div class="card default-color darken-1 z-depth-3">
            <div class="card-content white-text">
                <span class="card-title">Estadística</span>
                @if (Model != null)
                {
                    <p>Bicis libres: @Model.FreeBikes </p>
                    <p>Bicis en uso: @Model.ActiveBikes</p>
                    <p>Bicis averiadas:@Model.BrokenBikes </p>
                }

            </div>
        </div>

        <div class="card default-color darken-1 z-depth-3 no-display" style="display: none">
            <div class="card-content white-text">
                <span class="card-title" id="station-title">Estación</span>
                <div id="station"></div>
            </div>
        </div>

        <div class="panel text-center">
            <a class="btn btn-primary btn-block waves-effect blue disabled j-button" id="takebike" data-user-id="@ViewBag.UserId">Dejar Bicicleta</a>
            <a class="btn btn-primary btn-block waves-effect blue disabled j-button" id="bookbike" data-user-id="@ViewBag.UserId">Reservar Anclaje</a>
        </div>
    </div>

    <div class="card default-color darken-1 col-md-9">
        <div class="card-content">
            <span class="card-title">Estado de las estaciones</span>
            <div id="map" style="height: 550px; max-height: 50%;">
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @* TODO: CUANDO EL SCRIPT ESTE ACABADO METERLO EN UN SCRIPT APARTE y add locate *@
    <script>

        $(function () {

            function showStation(id) {
                var url = "/station/getstationbyidjson";
                var param = $.param({ Id: id });
                $.ajax({
                    "url": url,
                    "type": "POST",
                    "data": param,
                    "dataType": "json",
                    "success": function (data) {
                        var stationName = data.StationName;
                        var freeBikes = data.FreeBikes;
                        var metro = data.Metro;
                        var bus = data.Bus;
                        var availSlots = parseInt(data.BikeNum) - (parseInt(data.FreeBikes) + parseInt(data.ReservedSlots));
                        $("#station-title").text(stationName);
                        $("#station").text("");
                        $("<p class=\"flow-text\" style=\"font-size: 1.2vw\">"
                                + "Anclajes disponibles -> " + availSlots + "<br/>"
                                + "Metro -> " + metro + "<br/>"
                                + "Bus -> " + bus + "</p>")
                            .appendTo("#station");
                        $(".no-display").show();
                    },
                    "error": function () {
                        console.log("Error calling " + url);
                        $("#station").text("Ha habido un error.");
                    }
                });

            }


            var map = L.map("map").setView([40.420829, -3.704729], 14);

            var token = "pk.eyJ1IjoianVsaW9qbGdvbiIsImEiOiJjaWwycG13eDcwMGNmd25tMHljZnZocWg4In0.xCFNgIP46ccbU5bQ7cvyPg";
            L.tileLayer("https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=" + token, {
                maxZoom: 18,
                attribution: "Map data &copy; <a href=\"http://openstreetmap.org\">OpenStreetMap</a> contributors, " +
                    "<a href=\"http://creativecommons.org/licenses/by-sa/2.0/\">CC-BY-SA</a>, " +
                    "Imagery © <a href=\"http://mapbox.com\">Mapbox</a>",
                id: "juliojlgon.p8hc8pdp"
            }).addTo(map);

            // Create Icons

            var redMarker = L.ExtraMarkers.icon({
                icon: "fa-bicycle",
                markerColor: "red",
                shape: "square",
                prefix: "fa"
            });
            var orangeMarker = L.ExtraMarkers.icon({
                icon: "fa-bicycle",
                markerColor: "orange",
                shape: "square",
                prefix: "fa"
            });
            var greenMarker = L.ExtraMarkers.icon({
                icon: "fa-bicycle",
                markerColor: "green",
                shape: "square",
                prefix: "fa"
            });
            var greyMarker = L.ExtraMarkers.icon({
                icon: "fa-minus-square",
                markerColor: "red",
                shape: "square",
                prefix: "fa"
            });

            var selectionMarker = L.ExtraMarkers.icon({
                icon: "fa-bicycle",
                markerColor: "blue",
                shape: "square",
                prefix: "fa"
            });


            var highlight = null;
            var icon = null;

            // Function for removing highlight
            function removeHighlight() {
                // Check for highlight
                if (highlight !== null) {
                    // Set default icon
                    highlight.setIcon(icon);
                    // Unset highlight
                    highlight = null;
                }
            }


            var selectedStation;

            var url = "/home/fillmap";
            var stations = [];

            $.ajax({
                "url": url,
                "type": "POST",
                "data": "",
                "dataType": "json",
                "success": function (data) {
                    for (var i = 0; i < data.length; i++) {
                        stations.push(data[i]);
                        var lat = data[i].Latitude;
                        var lon = data[i].Longitude;
                        var availSlots = parseInt(data[i].BikeNum) - (parseInt(data[i].FreeBikes) + parseInt(data[i].ReservedSlots));
                        var porc = availSlots / parseInt(data[i].BikeNum);


                        //var parentDiv = $("<div/>", { id: "kdjfkd", title: "fjsdpof" });
                        //var img = $("<img/>", { id: "kdjfkd", title: "fjsdpof", src: "skdfjsdkljf" });

                        var marker;

                        if (porc > 0.75) {
                            marker = L.marker([lat, lon], { icon: greenMarker, title: data[i].Id });
                        } else if (porc <= 0) {
                            marker = L.marker([lat, lon], { icon: greyMarker, title: data[i].Id });
                        } else if (porc < 0.25) {
                            marker = L.marker([lat, lon], { icon: redMarker, title: data[i].Id });
                        } else {
                            marker = L.marker([lat, lon], { icon: orangeMarker, title: data[i].Id });
                        }

                        marker.on("click", function (e) {
                            $("#takebike")["removeClass"]("disabled");
                            $("#bookbike")["removeClass"]("disabled");

                            selectedStation = e.target.options.title;

                            $("#takebike").attr("data-station-id", selectedStation);
                            $("#bookbike").attr("data-station-id", selectedStation);

                            showStation(selectedStation);
                            // Remove highlight
                            removeHighlight();
                            //Save the icon for restore
                            icon = e.target.options.icon;
                            // Set highlight icon
                            this.setIcon(selectionMarker);
                            // Assign highlight
                            highlight = this;
                        });
                        marker.addTo(map);
                    }
                },
                "error": function () {
                    console.log("Error calling " + url);
                }
            });

            function onMapClick(e) {
                removeHighlight();
                selectedStation = "";
                $("#takebike")["addClass"]("disabled");
                $("#bookbike")["addClass"]("disabled");
                $(".no-display").hide();
            }

            map.on("click", onMapClick);


        });

        $(function () {

            function paintAlert(msg, cls) {
                var alertDiv = $("<div/>", { "class": "alert text-center " + cls, "style": "z-index:9;" });
                var link = $("<a/>", { "class": "close", "href": "#", "data-dismiss": "alert", "aria-label": "close", "text": "Cerrar" });
                var message = $("<p/>", { "title": msg, "text": msg });
                alertDiv.append(link);
                alertDiv.append(message);
                $(".j-alert").prepend(alertDiv);
            }

            function takeBike(id, user) {
                var url = "/bike/returnbike";
                var userId = user;
                var stationId = id;
                var param = $.param({ UserId: userId, StationId: stationId });
                $.ajax({
                    "url": url,
                    "type": "POST",
                    "data": param,
                    "dataType": "json",
                    "success": function (data) {
                        if (data.Success) {

                            var msg = "Has dejado la bicicleta con exito";
                            paintAlert(msg, "green");
                        } else {
                            msg = "Error: " + data.Error;
                            paintAlert(msg, "red");
                        }
                    },
                    "error": function () {
                        console.log("Error calling " + url);
                        $("#station").text("Ha habido un error.");
                    }
                });
            }

            function bookBike(id, user) {
                var url = "/station/bookslot";
                var userId = user;
                var stationId = id;
                var param = $.param({ UserId: userId, StationId: stationId });
                $.ajax({
                    "url": url,
                    "type": "POST",
                    "data": param,
                    "dataType": "json",
                    "success": function (data) {
                        if (data.Success) {
                            var msg = "Has Reservado el anclaje número " + data.BikeId;
                            paintAlert(msg, "green");
                        } else {
                            msg = "Error: " + data.Error;
                            paintAlert(msg, "red");
                        }
                    },
                    "error": function () {
                        console.log("Error calling " + url);
                        $("#station").text("Ha habido un error.");
                    }
                });
            }

            $("#takebike").click(function () {
                var userId = $(this).attr("data-user-id");
                var stationId = $(this).attr("data-station-id");
                takeBike(stationId, userId);
            });

            $("#bookbike").click(function () {
                var userId = $(this).attr("data-user-id");
                var stationId = $(this).attr("data-station-id");
                bookBike(stationId, userId);
            });

        });


    </script>
}
