@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="card default-color darken-1">
    <div class="card-content">
        <span class="card-title">Estado de las estaciones</span>
        <div id="map" style="height: 400px;
                                      max-height: 50%;">
        </div>
    </div>
</div>

@section scripts
{
    @* TODO: CUANDO EL SCRIPT ESTE ACABADO METERLO EN UN SCRIPT APARTE y add locate *@
    <script>

        var map = L.map('map').setView([40.420829, -3.704729], 13);

        var token = 'pk.eyJ1IjoianVsaW9qbGdvbiIsImEiOiJjaWwycG13eDcwMGNmd25tMHljZnZocWg4In0.xCFNgIP46ccbU5bQ7cvyPg';
       L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token='+token, {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'juliojlgon.p8hc8pdp'
        }).addTo(map);


        //L.marker([51.5, -0.09]).addTo(map)
        //	.bindPopup("<b>Hello world!</b><br />I am a popup.").openPopup();

        //L.circle([51.508, -0.11], 500, {
        //	color: 'red',
        //	fillColor: '#f03',
        //	fillOpacity: 0.5
        //}).addTo(map).bindPopup("I am a circle.");

        //L.polygon([
        //	[51.509, -0.08],
        //	[51.503, -0.06],
        //	[51.51, -0.047]
        //]).addTo(map).bindPopup("I am a polygon.");


        //var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
        }

        map.on('click', onMapClick);

    </script>

}

